{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "root": true,
  "rules": {
    "prettier/prettier": "error",
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": ["/"]
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
